<section id="all-projects" class="all-projects-section">

  <h2>My Projects</h2>
  <div *ngIf="loading" class="loading">
    <div class="spinner"></div>
    <div class="loading-text">Loading Projects..</div>
  </div>  
  <div
    *ngIf="!loading && projects.length > 0"
    class="projects-list"
  >
    <app-project-card
      *ngFor="let project of projects"
      [title]="project.title"
      [description]="project.description"
      [image]="'assets/' + project.image"
      [techStack]="project.techStack"
      [repoLink]="project.repoLink"
    ></app-project-card>
  </div>
  <div *ngIf="!loading && projects.length === 0" class="no-projects">
    No projects to display.
  </div>
</section>
