<section id="experience" class="experience-section">
  <h2>Experience</h2>
  <div *ngIf="loading" class="loading">
    <div class="spinner"></div>
    <div class="loading-text">Loading Experience..</div>
  </div>   
  <div class="experience-timeline">
    <app-experience-card
      *ngFor="let experience of experiences"
      [title]="experience.title"
      [timePeriod]="experience.timePeriod"
      [company]="experience.company"
      [location]="experience.location"
      [responsibilities]="experience.responsibilities"
    ></app-experience-card>
  </div>
</section>
